.section-detail {
	background-color: $corSecundaria;
	h3.title-detail {
		color: $corSecundaria;
		text-transform: uppercase;
		font-size: 30px;
	}
	.list-detail {
		.single-detail {
			color: $corBranco;
			border-radius: 12px;
			padding: 12px 15px;
			margin: 15px 0px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			.title-detail {
				text-align: center;
				.icon-detail {
					.img-detail {
						width: 70px;
						margin: 15px;
						color: white;
					}
				}
				h3 {
					margin: 10px 0px;
					font-size: 21px;
				}
			}
			.description-detail {
				margin: 5px 0px;
				font-size: 15px;
				text-align: center;
			}
		}
	}
}
@media screen and (max-width: $xsWidth) {
	.section-detail {
		h3.title-detail {
			font-size: 20px;
		}
		.list-detail {
			.single-detail {
				.title-detail {
					.icon-detail {
						font-size: 10px;
					}
					h3 {
						font-size: 12px;
					}
				}
				.description-detail {
					font-size: 10px;
				}
			}
		}
	}
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
	.section-detail {
		h3.title-detail {
			font-size: 20px;
		}
		.list-detail {
			.single-detail {
				.title-detail {
					.icon-detail {
						font-size: 13px;
					}
					h3 {
						font-size: 15px;
					}
				}
				.description-detail {
					font-size: 12px;
				}
			}
		}
	}
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {

}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
	
}
@media screen and (min-width: $xlWidth) {
	
}