.section-biography {
	position: relative;
	margin: 20px 0px;
	padding: 10px 0px;
	color: $corBranco;
	background-color: $corPrincipal;
	.title-biography {
		padding: 5px 0px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 4rem;
		color: $corBranco;
	}
	.content-biography {
		padding: 15px 0px;
		font-size: 1.5rem;
	}
}