.section-info {
    background-color: $corPrincipal;
    .single-info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .icon-info {
            padding: 0px 15px;
            i {
                color: $corSecundaria;
            }
        }
        .content-info {
            .title-info {
                font-weight: bold;
                color: $corSecundaria;
            }
            .data-info, .data-info a {
                color: $corBranco;
            }
        }
    }
}

@media screen and (max-width: $xsWidth) {
	.section-info {
        padding: 20px 0px;
        background-color: $corGrayPrincipal;
        text-align: center;
        .single-info {
            width: auto;
            text-align: center;
            display: inline-block;
            margin: 0px;
            .icon-info {
                display: inline-block;
                padding: 0px 2px;
                i { color: $corPrincipal; font-size: 12px; }
            }
            .content-info {
                display: inline-block;
                font-size: 12px;
                .title-info { display: none; }
                .data-info, .data-info a {
                    font-weight: bold;
                    color: $corPrincipal;
                }
            }
        }
    }
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
	.section-info {
        padding: 20px 0px;
        background-color: $corGrayPrincipal;
        text-align: center;
        .single-info {
            width: auto;
            text-align: center;
            display: inline-block;
            margin: 0px;
            .icon-info {
                display: inline-block;
                i { color: $corPrincipal; }
            }
            .content-info {
                display: inline-block;
                .title-info { display: none; }
                .data-info, .data-info a {
                    font-weight: bold;
                    color: $corPrincipal;
                }
            }
        }
    }
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
    
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
    
}
@media screen and (min-width: $xlWidth) {
    
}