.section-portfolio {
	padding: 35px 0px 45px;
	text-align: center;
	clear: both;
	.stars-portfolio {
		display: inline-block;
		max-width: 150px;
	}
	h3.title-portfolio {
		text-align: center;
		font-size: 25px;
	}
    .list-portfolio {
		padding: 0px;
		.flickity-viewport {
			max-height: 420px;
		}
	    .single-portfolio {
			position: absolute;
			padding: 15px;
			margin: 5px 0px;
			width: 100%;
			min-width: 280px;
			min-height: 420px;
	    	.thumb-portfolio {
	    		img {
	    			width: 100%;
	    		}
	    	}
	    	.text-portfolio {
				padding: 0px 5px;
	    		.title-portfolio {
	    			h1 {
						font-size: 16px;
						padding: 15px 0px 5px;
						color: $corPrincipal;
						text-transform: uppercase;
						text-align: left;
						line-height: 1.5;
					}
					h3 {
						font-size: 12px;
						padding: 9px 0px;
						color: $corSecundaria;
						text-transform: uppercase;
						text-align: left;
					}
				}
				.content-portfolio {
					p {
						color: $corPrincipal;
						font-size: 16px;
						text-align: left;
						font-weight: 500;
					}
				}
	    	}
	    }
	}
	.button-portfolio {
		display: inline-block;
		background-color: $corBranco;
		color: $corPrincipal;
		text-transform: uppercase;
		font-style: normal;
		// margin: 12px auto;
		padding: 15px 20px;
	}
}
@media screen and (max-width: $xsWidth) {
	.section-portfolio {
		h1 {
		    font-size: 32px;
		    padding: 8px 0px;
		    text-align: center;
		}
		.list-portfolio {
			font-size: 30px;
			.single-portfolio {
			    min-height: 200px;
		    	.text-portfolio {
		    		.title-portfolio {
		    			h1 {
							font-size: 15px;
							padding: 7px 0px;
		    			}
		    		}
		    	}
		    }
		}
		.button-portfolio {
			display: block;
			margin: 0px auto;
		}
	}
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
	.section-portfolio {
		h1 {
		    font-size: 40px;
		    padding: 8px 0px;
		    text-align: center;
		}
		.list-portfolio {
			font-size: 30px;
			.single-portfolio {
				min-height: 200px;
		    	.text-portfolio {
		    		.title-portfolio {
		    			h1 {
							font-size: 22px;
							padding: 25px 0px;
		    			}
		    		}
		    	}
		    }
		}
		.button-portfolio {
			display: block;
			margin: 0px auto;
		}
	}
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
	.section-portfolio {
		h1 {
		    font-size: 50px;
		}
	    .list-portfolio {
		    .single-portfolio {
				min-height: 270px;
		    	.text-portfolio {
		    		.title-portfolio {
		    			h1 {
							font-size: 17px;
							padding: 15px 5px;
		    			}
		    		}
		    	}
		    }
		}
	}
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
	
}
@media screen and (min-width: $xlWidth) {
	
}


/* MAIS */
.list-portfolio {
	.text {
		h1 {
		    font-weight: 800;
		    font-size: 32px;
		    margin: 0;
		    &.cit{
			    font-size: 50px;
			    font-weight: bold;
			    &.above{
				    font-size: 50px;
				    font-weight: bold;
				    line-height: 0;
				    margin-top: 26px;
				}
			}
		}
		h2 {
			font-size: 18px;
			font-weight: 900;
			margin-top: 0;
			text-transform: uppercase;
			text-align: left;
			font-family: 'Open Sans';
		}
		h3 {
			font-size: 14px;
		    font-weight: 500;
		    margin-top: 0;
		    margin-bottom: 4px;
			text-transform: uppercase;
			color: #b3b3b3;
			font-family: 'Open Sans';
		}
		a {
		    font-size: 16px;
		    font-weight: 600;
		}
		p {
		    font-size: 16px;
		    margin-top: 12px;
		    margin-bottom: 12px;
		}
	}
	.img-default {
		position: relative;
		width: 100%;
	    display: flex;
	    justify-content: center;
		align-items: center;
		overflow: hidden;
		.img-portfolio {
			width: 100%;
		}
	    h3 {
	    	color: $corBranco;
	    }
	    &.full-post {
	    	height: 100% !important;
		    position: absolute;
		}
	}
	.view-more {
	    font-weight: bold;
	    color: $corSecundaria;
	}
	.content{
	    background-color: $corBranco;
	    box-shadow: 0px 0px 6px #d4d4d4;
	    border-radius: 8px;
	    display:block;
	    color: black;
	    min-height: 360px;
	    margin: 10px 0px;
	    overflow: hidden;
	    .img-news, img {
		    width: 100%
		}
		.text {
		    padding: 20px;
		}
		.cotation {
		    padding: 25px;
		    p {
			    margin-top: 12px;
			}
		}
	}
	.featured {
		.content {
			color: white;
		    overflow: hidden;
		    position: relative;
			.text {
				position: absolute;
			    background: none;
			    bottom: 0;
			    max-width: 100%;
			    color: white;
			}
		}
	}
	.text {
		.more {
		    color: $corBranco;
		    font-weight: bold;
		}
	}
	.btn.more-portfolio{
	    display: block;
	    background-color: #f3b423;
	    color: white;
	    border-radius: 0;
	}
}
@media screen and (max-width: $smWidth){
	.list-portfolio {
		.btn.more-portfolio {
			width: 100%;
			.plus{
		        display: none;
		    }
		    .txt{
		        display: inline;
		        font-size: 22px;
		        font-weight: 800;
		    }
		}
	}
}
@media screen and (min-width: $xsWidth) and (max-width: $smWidth) {
	.list-portfolio {
		.btn.more-portfolio {
			width: 100%;
			.plus{
		        display: none;
		    }
		    .txt{
		        display: inline;
		        font-size: 22px;
		        font-weight: 800;
		    }
		}
	}
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
	.list-portfolio {
		.content {
			min-height: 390px;
	        margin-top: 20px;
		}
		.btn.more-portfolio {
	        width: 20%;
	        float: right;
	        margin-top: -75px;
	        .plus {
		        display: inline;
		        font-size: 60px;
		        font-weight: 300;
		        line-height: 0.8;
		    }
		    .txt{
		        display: none;
		    }

		}
	}
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
	.list-portfolio {
		.content {
			min-height: 390px;
	        margin-top: 20px;
		}
		.btn.more-portfolio {
	        width: 20%;
	        float: right;
	        margin-top: -75px;
	        .plus {
		        display: inline;
		        font-size: 60px;
		        font-weight: 300;
		        line-height: 0.8;
		    }
		    .txt{
		        display: none;
		    }

		}
	}
}