.section-highlight {
	padding: 30px 0px 0px;
	.title-highlight {
		padding: 5px 0px;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 32px;
	}
	.subtitle-highlight {
		padding: 5px 0px;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 20px;
	}
	.content-highlight {
		padding: 15px 0px;
	}
}
@media screen and (max-width: $xsWidth) {
	.section-highlight {
		.title-highlight {
			font-size: 25px;
		}
		.subtitle-highlight {
			font-size: 16px;
		}
		.content-highlight {
			font-size: 13px;
		}
	}
}
@media screen and (min-width: $smWidth) and (max-width: $mdWidth) {
	.section-highlight {
		.title-highlight {
			font-size: 30px;
		}
		.subtitle-highlight {
			font-size: 20px;
		}
		.content-highlight {
			font-size: 15px;
		}
	}
}
@media screen and (min-width: $mdWidth) and (max-width: $lgWidth) {
	.section-highlight {
		.title-highlight {
			font-size: 24px;
		}
		.subtitle-highlight {
			font-size: 16px;
		}
		.content-highlight {
			font-size: 12px;
		}
	}
}
@media screen and (min-width: $lgWidth) and (max-width: $xlWidth) {
	
}
@media screen and (min-width: $xlWidth) {
	
}