/* Cores do Tema */
$corPrincipal: #970000;
$corPrincipalEscura: #710404;
$corPrincipalEscuraDark: #5a0000;
$corPrincipalClaro: #ffaeae;

$corSecundaria: #707070;
$corSecundariaEscura: #333333;

$corTerceira: #00B5E7;
$corTerceiraEscura: #009DC8;

$corGrayPrincipal: #ECECEC;
$corBranco: #ffffff;
$corText: #292929;

/* Tamanho das Telas */
$xsWidth: 576px;
$smWidth: 576px;
$mdWidth: 768px;
$lgWidth: 992px;
$xlWidth: 1200px;

/*Tamanho dos Textos */
$xsTextMenu: 20px;


// @import 'fonts';
@import 'classes';

@import 'header';
@import 'header-bar';
@import 'header-search';
@import 'header-pos';
@import 'menu';

@import 'index';
@import 'index-banner';
@import 'index-services';
@import 'index-biography';
@import 'index-detail';
@import 'index-testimony';
@import 'index-brands';
@import 'index-types';
@import 'index-contact';


@import 'page-news';
@import 'page-services';

@import 'landing-resume';
@import 'landing-services';
@import 'landing-atendimento';
@import 'landing-clients';
@import 'landing-portfolio';

@import 'single';

@import 'footer';